<div id="footer-container">


    <div id="footer-wrapper">


        <div class="footer-section">

               <a class="navbar-brand" href="#/" id="logo"><img id="ft-logo" src="http://akatsky-bg.com/slides/akatskysd.png"></a>

            <p>Akatsky Racing Team Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac fermentum lorem. Proin rutrum ut ligula in hendrerit. Aliquam euismod quis nunc id hendrerit. Phasellus et rutrum libero. Nunc et rhoncus ante. </p>

        </div>
        <div class="footer-section">

            <h4>Бързо Меню</h4>
            <ul>
                <li><a>Начало</a></li>
                <li><a>Новини</a></li>
                <li><a>Видео</a></li>
                <li><a>Форум</a></li>
                <li><a>Контакти</a></li>


            </ul>


        </div>
        <div class="footer-section">
            <h4>Facebook страница</h4>

        </div>
        <div class="footer-section">
            <h4>Подкрепете ни</h4>

        </div>


    </div>


</div>