<div id="news-wrapper">

<div id="news-container">
<h3>Последни Новини</h3>

    <div ng-if="spiner" class="spinner"></div>
    <div ng-repeat="newsData in news | orderBy:'-createdAt'" class="news">

        <a ng-href="#/neWs/{{newsData.objectId}}">

            <h4>{{newsData.title}}</h4>
            <img ng-src="{{newsData.thumbnail}}">
            <p>{{newsData.introNewsData}}</p>
        </a>
    </div>


</div>
    <!--<button id="allnews" class="btn-danger pull-right">Всички новини</button>-->
</div>