
<div id="news-wrapper">

<div id="news-container">
<h3>{{ses}}</h3>


    <div id="newsBox" class="col-md-9" >
        <div ng-if="spiner" class="spinner"></div>
        <!--<input id="search" placeholder="SEARCH" type="text" ng-model="searchInput" ng-change="search()">-->
        <div ng-repeat="newsData in news | orderBy:'-createdAt'" class="news" >

            <a ng-href="#/neWs/{{newsData.objectId}}">

                <h4>{{newsData.title}}</h4>
                <img ng-src="{{newsData.thumbnail}}">
                <p>{{newsData.introNewsData}}</p>
            </a>
        </div>
    </div>



<div latest></div>
</div>
    <!--<button id="allnews" class="btn-danger pull-right">Всички новини</button>-->
</div>