<div id="mainmenu" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">ATATSKY RACING</a>-->
            <a class="navbar-brand" href="#/" id="logo"><img src="img/logo.png"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul id="navbar" class="nav navbar-nav navbar-center">
                <li class="{{activeHome}}"><a href="#/">НАЧАЛО</a></li>
                <li class="{{activeForUs}}"><a href="#/forUs">ЗА НАС</a></li>
                <li class="{{activeNews}}"><a href="#/neWs">НОВИНИ</a></li>
                <li class="{{activeVideos}}"><a href="#/videOs">ВИДЕО</a></li>
                <li class="{{activeForum}}"><a href="#/forUm">ФОРУМ</a></li>
                <li class="{{activeContacts}}"><a href="#/contacTs">КОНТАКТИ</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>